/**
 * Let's normalise this ugly stuff
 */

body {
  font-family: sans-serif;
  margin: 0;
  font-size: 0.8em;
}

body * {
  box-sizing: border-box;
}

/**
 * Flexbox to the rescue!
 */

.section {
  display: flex;
  flex-wrap: wrap;
}

.colFortyPct {
  width: 40%;
}

.colTwentyPct {
  width: 20%;
}

.colThirtyPct {
  width: 30%;
}

.colSeventyPct {
  width: 70%;
}

.col {
  padding-right: 16px;
}


.col:last-child {
  padding-right: 0;
}

/**
 * Zoopla Project Specific Styles
 */
.container {
  margin: 16px 16px 0 16px;
}

.pageTitle {
  margin-top: 0;
  font-size: 1.4em;
  margin-bottom: 16px;
}

.errorMessage {
  font-size: 1em;
  color: #666;
}

.searchInput {
  height: 40px;
  width: 100%;
  font-size: 0.8em;
}

.searchSubmit {
  height: 40px;
  width: 100%;
  font-size: 0.8em;
}

.resultsCount {
  margin-top: 0;
  margin-bottom: 16px;
}

.listingItem {
  margin-bottom: 64px;
}

.listingImage {
  width: 100%;
  height: auto;
  display: block;
}

.listingMainContent {

}

.listingTitle {
  font-size: 1.5em;
}

.listingPrice {
  font-size: 1.8em;
  color: red;
}

.listingDescription {

}

.listingAgentInfo {
  background-color: #e5e5e5;
}

.listingAgentLogo {

}

.listingAgentName {

}

.listingAgentAddress {

}

.listingAgentTelephone {

}

/**
 * Media queries
 */

@media only screen and (max-width: 599px) {
  .colFortyPct, .colSeventyPct, .colThirtyPct, .colTwentyPct { width: 100%; }
}

@media only screen and (min-width: 600px) {
  .container { margin: 24px 24px 0 24px; }
}

@media only screen and (min-width: 1280px) {
  body { font-size: 1.2em; }
  .container { margin: 32px 32px 0 32px; }
  .col { padding-right: 32px; }
  .resultsCount { margin-bottom: 32px; }
}